* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.btnResult {
  position: absolute;
}
.start-game {
  cursor: url("../public/quiz-img-itens/cursor-N.png"), auto;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../public/quiz-img-itens/background-geral.png");
}
.logo-image {
  background-image: url("./assets/logo.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 180px;
  width: 800px;
  height: 300px;
}

.start-btn {
  cursor: url("../public/quiz-img-itens/cursor-N-pointer.png"), auto;
  margin-top: 75vh;
  position: absolute;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  font-size: 17px;
  color: #090000;
  border-radius: 7px;
  letter-spacing: 4px;
  font-weight: 700;
  text-transform: uppercase;
  transition: 0.5s;
  transition-property: box-shadow;
}

.start-btn {
  background: #00ffff;
  box-shadow: 0 0 25px #00ffff;
}

.start-btn:hover {
  box-shadow: 0 0 5px #00ffff, 0 0 25px #00ffff, 0 0 50px #00ffff,
    0 0 100px #00ffff;
}
.text-result {
  color: white;
  font-size: 30px;
  margin-top: 10vh;
  margin-bottom: 20vh;
}

.text {
  font-size: 20px;
  font-weight: 700;
  color: #cecece;
  z-index: 10;
}

.result-btn {
  cursor: url("../public/quiz-img-itens/cursor-N-pointer.png"), auto;

  /* position: absolute; */
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  font-size: 17px;
  color: #090000;
  border-radius: 7px;
  letter-spacing: 4px;
  font-weight: 700;
  text-transform: uppercase;
  transition: 0.5s;
  transition-property: box-shadow;
}

.result-btn {
  background: #00ffff;
  box-shadow: 0 0 25px #00ffff;
}

.result-btn:hover {
  box-shadow: 0 0 5px #00ffff, 0 0 25px #00ffff, 0 0 50px #00ffff,
    0 0 100px #00ffff;
}

@keyframes rotate1 {
  0% {
    transform: rotateX(45deg) rotateY(-45deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(45deg) rotateY(-45deg) rotateZ(360deg);
  }
}
@keyframes rotate2 {
  0% {
    transform: rotateX(45deg) rotateY(45deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(45deg) rotateY(45deg) rotateZ(360deg);
  }
}
@keyframes rotate3 {
  0% {
    transform: rotateX(-60deg) rotateY(0deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(-60deg) rotateY(0deg) rotateZ(360deg);
  }
}

.loading {
  margin-top: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.final .container{
  display: flex;
  justify-content: center;
}

.winner-btn {
  margin-top: 80vh ;
  cursor: url("../public/quiz-img-itens/cursor-N-pointer.png"), auto;
  position: absolute;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  font-size: 17px;
  color: #090000;
  border-radius: 7px;
  letter-spacing: 4px;
  font-weight: 700;
  text-transform: uppercase;
  transition: 0.5s;
  transition-property: box-shadow;
}

.winner-btn {
  background: #00ffff;
  box-shadow: 0 0 25px #00ffff;
}

.winner-btn:hover {
  box-shadow: 0 0 5px #00ffff, 0 0 25px #00ffff, 0 0 50px #00ffff,
    0 0 100px #00ffff;
}

.bg-geral {
  cursor: url("../public/quiz-img-itens/cursor-N.png"), auto;
  width: 100%;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../public/quiz-img-itens/background-geral.png");
}

.alathar{
  position: absolute;
  width: 100%;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../public/alathar-winner.png");
}

.lore{
  position: absolute;
  width: 100%;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../public/lore-winner.png");
}

.maddie{
  position: absolute;
  width: 100%;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../public/maddie-winner.png");
}

.odachi {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../public/odachi-winner.png");
}

.quark{
  position: absolute;
  width: 100%;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../public/quark-winner.png");
}

@media (min-width: 2300px) {
  .alathar{
    position: absolute;
    width: 100%;
    height: 100vh;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../public/alathar-large.png");
  }
  
  .lore{
    position: absolute;
    width: 100%;
    height: 100vh;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../public/lore-large.png");
  }
  
  .maddie{
    position: absolute;
    width: 100%;
    height: 100vh;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../public/maddie-large.png");
  }
  
  .odachi {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../public/odachi-large.png");
  }
  
  .quark{
    position: absolute;
    width: 100%;
    height: 100vh;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../public/quark-large.png");
  }
  

  .logo-image {
    width: 1300px;
    height: 600px;
    margin-top: 8%;
  }

  .text-result {
    font-size: 3em;
  }

  .result-btn {
    font-size: 2em;
  }

  .start-btn {
    font-size: 2.5em;
  }

  .winner-btn {
    margin-top: 80vh;
    font-weight: bold;
    padding: 10px 20px;
    font-weight: 700;
    font-size: 2em;
  }
}


@media (max-width: 500px) {
  .logo-image {
    width: 300px;
    height: 150px;
    margin-top: 70%;
  }

  .text-result {
    margin-top: -2%;
    text-align: center;
    width: 70%;
    font-size: 1.5em;
  }

  .result-btn {
    font-size: 1em;
  }

  .winner-btn {
    margin-top: 80vh;
    font-weight: bold;
    padding: 10px 20px;
    font-weight: 700;
    font-size: 0.75em;
  }

  .alathar {
    background-image: url("../public/alathar-mobile.png");
  }
  .lore {
    background-image: url("../public/lore-mobile.png");
  }
  .maddie {
    background-image: url("../public/maddie-mobile.png");
  }
  .odachi {
    background-image: url("../public/odachi-mobile.png");
  }
  .quark {
    background-image: url("../public/quark-mobile.png");
  }
}
